<div class="container my-4 edit-form">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="form-card">
        <header class="mb-4">
          <h1 class="h3 mb-0">Crear carrito</h1>
        </header>

        <app-carrito-form-unrouted
          [carrito]="null"
          [mode]="'create'"
          (formSuccess)="onFormSuccess()"
          (formCancel)="onFormCancel()"
        >
        </app-carrito-form-unrouted>
      </div>
    </div>
  </div>
</div>
