.fk-box {
  background-color: #e4e4e4;
  border-left: 4px solid #0d6efd;
}

.grow {
  flex-grow: 1;
}

.finder-table {
  max-height: 500px;
  overflow-y: auto;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
  font-size: 0.875rem;
}
